.fifthRow {
  border-bottom: 1px solid black;
}

/* //style number round  */
.number{
    border-radius: 50%;
    width: 10px;
    height: 20px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
}

.numberContainer{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
}